@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

@import "form.css";

body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color : #000000b8;
    color: whitesmoke;
}
a {
    text-decoration: none;
    color: inherit;
}


 /******************* Header *******************/
.navbar {
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    display: flex;
    width: 24rem;
    justify-content: space-evenly;
}
.logo-container img {
    cursor: pointer;
}
.logo-container > span {
    font-size: 2.5rem;
    padding: 11px 5px;
    font-weight: 500;
    font-family: 'Macondo', cursive;
    color: white;
}

div#admin {
    display: flex;
    width: 18rem;
    justify-content: space-evenly;
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;
    color: white;

    position: relative;
}
div#admin::after{ 
    content: " ";
    position: absolute; 
    width: 0;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 112px;
    transition: 0.5s ease;
}
div#admin:hover::after {
    width: 22%;
    background-color: white;
}


/******************************************** Index.html ******************************************/

/************************** Suspect Form **************************/
div.main {
    margin: 45px auto;
    width: 78%;
}
div.main .greeting-user {
    text-align: center;
}
div.main .greeting-user h2 {
    font-size: 2.2rem;
}
div.main .greeting-user p:first-of-type {
    margin-bottom: 0px;
    font-family: cursive;
    font-size: 1.15em;   
}
div.main .suspect-form-container{
    background: #6e6e6e;
    padding: 45px;
    margin: 40px 2px;
    /* border-width: 7px; */
    /* border-style: double; */
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    position: relative;
}
.suspect-image {
    padding: 30px 50px
}


/* form.css */


.input-field input {
    border-bottom: solid 1px white;
    color: white;
}
.input-field input:not(:placeholder-shown) + label, .input-field input:focus + label {
    transform: translate(0, -1.125rem) scale(1);
    opacity: 0.9;
    color:#f9a1cd;
}
.input-field input:not(:placeholder-shown), .input-field input:focus {
    border-bottom: solid 1px #f9a1cd;
}

div.suspect-form-container .error-mssg {
    color: #ffe419;
    margin: 20px 0
  }


/************************** Result Container**************************/
div.main .result-container{
    background: #6e6e6e;
    padding: 45px;
    margin: 90px 2px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    text-align: center;
    display: none;
}
.result-container h2 {
    font-family: "Roboto", sans-serif;
}
.result img {
    width: 150px;
}


.result-msg {
    font-size: 1.1em;
    color: #fce51c;
    font-family: cursive;
}

.matched-images-container {
    display: flex;
    justify-content: space-evenly;
    margin: 60px;
}
.matched-image img {
    width: 60%;
}
.matched-image p {
    font-size: 17px;
    font-family: cursive;
    color: #ffff8d;
}




/******************************************** adminLogin.html ******************************************/

/********************** Admin Login Form *********************/
main.admin-login {
    width: 500px;
    margin: auto;
}
.admin-login > h3 {
    font-size: 2.4rem;
    color: #05fcb0;
    text-align: center;
}

.login-form-cont {
    background: #7d7c7c;
    padding: 45px;
    /* text-align: center; */
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 2%;
}
.login-form label {
    font-size: 20px;
    color: #cdffcb;
}
.login-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #fdf9f9;
    width: 100%;
    border: 0;
    margin: 5px 0 20px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
}
.login-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #19ffb8;
    width: 100%;
    border: 0;
    padding: 15px;
    color: black;
    font-size: 16px;
    cursor: pointer;
}
.login-form button:hover,.form button:active,.form button:focus {
    background: #15eba9;
}
div.admin-error-mssg {
    margin: 50px;
    text-align: center;
    font-size: 17px;
}